<div>
<h1>Trabajando con WebSocket</h1>
<form action="/api" method="">
Name <input id="inputText"  type="text" name="name"></input>
</form>
<p id="mensaje"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>



<script>

const socket = io("http://localhost:8080", {forceNew: true}); 
document.getElementById("inputText").addEventListener("change", mensajeModificado)

function mensajeModificado()  {
  let text = document.getElementById("inputText").value
    console.log(text)
  socket.emit("message", text)
}

socket.on("mensajeRespuesta", data => {
let respuestaAMostrar = document.getElementById("mensaje")
respuestaAMostrar.innerHTML = data;
})

</script>
